@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --maincolor: #351D4D;
  --maincolor75: #A67DCE;
  --secondarycolor: #F2A0D5;
  --buttoncolor: rgb(255, 186, 222);
  --font: "Nunito", sans-serif ;
}

::-webkit-scrollbar {
  width: 10px;
  border: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--maincolor75);
  border-radius: 10px;
  border: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #260835;
}

body {
  background-color: var(--maincolor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5em;
  font-family: var(--font);
}

nav {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  position: fixed;
  z-index: 20;
}
nav .left {
  display: flex;
  justify-content: safety;
  align-items: center;
  gap: 40px;
  width: 50%;
}
nav .left .burger-menu button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top: 2px;
}
nav .left .burger-menu button img {
  width: 34px;
  height: 34px;
}
nav .left h1 {
  color: white;
  font-size: 2em;
}
nav .left #search {
  width: 30%;
  height: 38px;
  font-size: 0.9em;
  border-radius: 10px;
}
nav .right {
  display: flex;
  gap: 1em;
}
nav .right button {
  border: none;
  background-color: transparent;
}

main {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5em;
}
main .sec-1 {
  width: 99%;
}
main .sec-1 .slider .slider-cards {
  display: flex;
}
main .sec-1 .slider .slider-cards .info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  padding-left: 50px;
  gap: 40px;
}
main .sec-1 .slider .slider-cards .info .title p {
  color: var(--secondarycolor);
}
main .sec-1 .slider .slider-cards .info .title h1 {
  font-weight: 700;
  font-size: 2.5em;
  padding-top: 10px;
  color: white;
}
main .sec-1 .slider .slider-cards .info .watch-details {
  display: flex;
  gap: 30px;
}
main .sec-1 .slider .slider-cards .info .watch-details button {
  background-color: transparent;
  border: 3px solid rgb(242, 160, 213);
  border-radius: 20px;
  height: 40px;
  padding: 0 20px;
  font-size: 1.3em;
  color: var(--secondarycolor);
  cursor: pointer;
}
main .sec-1 .slider .slider-cards .info .movie-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .sec-1 .slider .slider-cards .info .movie-info .icons {
  display: flex;
  gap: 30px;
}
main .sec-1 .slider .slider-cards .info .movie-info .icons .play {
  display: flex;
  align-items: center;
  color: var(--secondarycolor);
  font-size: 1.3em;
  gap: 10px;
}
main .sec-1 .slider .slider-cards .info .movie-info .icons .time {
  display: flex;
  align-items: center;
  color: var(--secondarycolor);
  font-size: 1.3em;
  gap: 10px;
}
main .sec-1 .slider .slider-cards .info .movie-info .discription {
  color: white;
  width: 80%;
}
main .sec-1 .slider .slider-cards .img {
  width: 70%;
}
main .sec-1 .slider .slider-cards .img img {
  width: 100%;
  height: 70vh;
}
main .sec-1 .slider .slider-indicator {
  position: absolute;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 600px;
  left: 70px;
}
main .sec-1 .slider .slider-indicator button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
main .sec-1 .slider .slider-indicator .curcle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
main .sec-1 .slider .slider-indicator .current-slide {
  height: 15px;
  width: 15px;
  background-color: var(--secondarycolor);
}
main .sec-2 {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .sec-2 #h1 {
  width: 90%;
  color: white;
  font-size: 1.8em;
}
main .sec-2 .cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  overflow: hidden;
  padding-bottom: 10px;
}
main .sec-2 .cards .card {
  background-color: var(--secondarycolor);
  width: 200px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px black;
}
main .sec-2 .cards .card .img img {
  width: 200px;
  height: 240px;
  border-radius: 20px;
}
main .sec-2 .cards .card .info {
  display: flex;
  gap: 13px;
  font-weight: 700;
}
main .sec-2 .cards .card .info .type {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .sec-2 .cards .card .info .time {
  display: flex;
}
main .sec-2 .cards .card .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-top: 2px solid gray;
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
}
main .sec-2 .next-prev {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
}
main .sec-2 .next-prev button {
  background-color: transparent;
  border: none;
}
main .sec-3 {
  background-color: var(--maincolor75);
  width: 100%;
  height: 450px;
  display: flex;
  overflow: hidden;
}
main .sec-3 .left {
  display: grid;
  place-items: center;
  width: 30%;
}
main .sec-3 .left img {
  height: 100%;
}
main .sec-3 .right {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
main .sec-3 .right .top {
  display: flex;
  width: 90%;
  height: 40%;
  justify-content: space-between;
  align-items: center;
}
main .sec-3 .right .top .comments {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
main .sec-3 .right .top .comments button {
  background-color: transparent;
  border: 3px solid rgb(53, 29, 77);
  padding: 13px 0;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--maincolor);
  border-radius: 30px;
}
main .sec-3 .right .top .comments .top {
  border: none;
}
main .sec-3 .right .top .buttons {
  display: flex;
  gap: 30px;
}
main .sec-3 .right .top .buttons button {
  background-color: transparent;
  border: none;
}
main .sec-3 .right .bottom {
  width: 100%;
  height: 60%;
  display: flex;
  overflow: hidden;
}
main .sec-3 .right .bottom .card-comments {
  display: flex;
  align-items: center;
  gap: 30px;
}
main .sec-3 .right .bottom .card-comments .cards {
  height: 90%;
  width: 300px;
  background-color: var(--secondarycolor);
  border-radius: 30px;
  box-shadow: 5px 5px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .sec-3 .right .bottom .card-comments .cards h3 {
  font-weight: 700;
  font-size: 1.4em;
}
main .sec-3 .right .bottom .card-comments .cards .top {
  display: flex;
  justify-content: space-around;
  height: 20%;
}
main .sec-3 .right .bottom .card-comments .cards .top .profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: gray;
}
main .sec-3 .right .bottom .card-comments .cards .mid {
  width: 270px;
  font-weight: 500;
}
main .sec-3 .right .bottom .card-comments .cards .bot {
  display: flex;
  gap: 20px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 15px 20px;
}
footer .left-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
}
footer .left-footer .top-info {
  font-size: 1.3em;
  font-weight: 800;
  color: var(--secondarycolor);
}
footer .left-footer .bot-links {
  display: flex;
  gap: 10px;
}
footer .left-footer .bot-links a {
  text-decoration: none;
  color: var(--secondarycolor);
  font-size: 1.5em;
  font-weight: 700;
}
footer .right-footer {
  display: flex;
  align-items: last baseline;
}
footer .right-footer p {
  color: var(--secondarycolor);
}/*# sourceMappingURL=MovieMainPage.css.map */